<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiddleLayerTest.Properties.Settings.SeferNetConnectionString"
            connectionString="Data Source=mksql215\instance15;Initial Catalog=SeferNet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>