<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SeferNet.UI.Apps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SeferNet.BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <location path="Admin">
    <system.web>
      <pages theme="SeferGeneral" buffer="true" masterPageFile="~/seferMasterPageIE.master" />
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports">
    <system.web>
      <pages theme="SeferGeneral" buffer="true" masterPageFile="~/SeferMasterPage.master" />
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="UpdateTables">
    <system.web>
      <pages theme="SeferGeneral" buffer="true" masterPageFile="~/SeferMasterPage.master" />
      <authorization>
        <!-- Temporary permission to build CorrectGeneralRemarksText.aspx -->
        <!--<deny users="?" />-->
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Public">
    <system.web>
      <pages theme="SeferGeneral" buffer="true" masterPageFile="~/SeferMasterPage.master" />
      <authorization>
        <allow users="?" />
      </authorization>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="MenuXmlFile" value="~/Xml/MenuData.xml" />
    <add key="OrganizationTreeXmlFile" value="~\Xml\OrganizationTree.xml" />
    <add key="CacheDurationInHours" value="5" />
    <!-- Exception Handler and logger parameters  -->
    <add key="LogExceptions" value="true" />
    <add key="sendSysLogMessages" value="false" />
    <add key="exceptionLogConnString" value="Data Source=SWDMKCONS-SQL01\INSTANCE01;Trusted_Connection=yes;Initial Catalog=SeferNet;Integrated Security=True" />
    <add key="emailAddresses" value="hemdani@clalit.org.il;otherdev@yourcompany.com" />
    <!--add key="smtpServer" value="mkex100"/-->
    <add key="smtpServer" value="mailrelay.clalit.org.il" />
    <add key="IncorrectDataMailSenderName" value="מערכת ספר שירות" />
    <add key="fromEmail" value="err.sefer.net@clalit.org.il" />
    <add key="DefaultFromMail" value="SeferSherut@clalit.org.il" />
    <add key="MushlamFromMail" value="SeferSherut@clalit.org.il" />
	<add key="DevelopersEmail" value="shaulper@clalit.org.il;" />
    <add key="ReportClinicChangeToMail" value="vladimirgr@clalit.org.il;" /> 
    <add key="ReportClinicOfHospitalTypeChangeToMail" value="vladimirgr@clalit.org.il;" />     
    <add key="ServicesRelevantForReceivingGuests" value="2,40" />     
    <add key="detailURL" value="http://yourwebserver/exceptionlogger/report.aspx" />
    <add key="sysLogIp" value="10.10.9.231" />
    <add key="mapServerIP" value="10.100.5.3" />
    <!-- End Exception Handler and logger parameters -->
    <!-- rpc_DeptOverView number of Tables-->
    <add key="TableNum" value="38" />
    <add key="PageSizeForSearchPages" value="50" />
    <add key="DoctorSrv.DoctorService" value="http://localhost/SeferNetService/DoctorService.asmx" />
    <add key="ConnectionString" value="Data Source=SWTMKCONS-SQL01\INSTANCE01;Initial Catalog=SeferNet;Integrated Security=True" />
    <!--<add key="ConnectionString" value="Data Source=mksql025\instance01;Initial Catalog=SeferNet;Integrated Security=True"/>-->
    <add key="MapService.CoordsFinder" value="http://mkweb011/coordsfinder/CoordsFinder.asmx" />
    <add key="WebUserName" value="webuser" />
    <add key="WebUserPwd" value="Web@user" />
    <add key="WebUserDomain" value="clalit" />
    <add key="ApplicationPath" value="/SeferNet" />    
    <add key="EventsFilesPath" value="\\mkweb011\apps$\IntraDev\SeferNet\EventsData" />
    <!--<add key="ReportServerUrl" value="http://juliaav/ReportServer"/>-->
    <!--<add key="ReportServerUrl" value="http://vladimirgr/ReportServer_MSSQLSERVER2008R"/>-->
    <!--<add key="ReportServerUrl" value="https://udreports2008.clalit.org.il/ReportServer"/>-->
    <add key="ReportServerUrl" value="http://mksql044/ReportServer" />
    <!--<add key ="ReportServerFolder" value ="Test"/>-->
    <add key="ReportServerFolder" value="Intr/SeferNet" />
    <add key="ReportViewerMessages" value="Eternity.Astra.CReportViewerCustomMessages, SeferNet.UI.Apps" />
    <!--<add key="ReportExecution2005" value="http://juliaav/ReportServer/ReportExecution2005.asmx"/>-->
    <!--<add key="ReportExecution2005" value="http://vladimirgr/ReportServer_MSSQLSERVER2008R/ReportExecution2005.asmx" />-->
    <add key="ReportExecution2005" value="https://swtmkssrs-sql03/ReportServer/ReportExecution2005.asmx" />
    <!--<add key="ReportExecution2005" value="http://mksql044/ReportServer/ReportExecution2005.asmx" />-->
    <!--<add key="RSWS.ReportExecution2005" value="http://juliaav/ReportServer/ReportExecution2005.asmx"/>-->
    <add key="RSWS.ReportExecution2005" value="http://mksql044/ReportServer/ReportExecution2005.asmx" />
    <!--<add key="RSWS.ReportExecution2005" value="http://vladimirgr/ReportServer_MSSQLSERVER2008R/ReportExecution2005.asmx"/>-->
    <!--<add key="RSWS.ReportExecution2005" value="https://udreports2008.clalit.org.il/ReportServer/ReportExecution2005.asmx"/>-->
    <!--Exception handling new infra 19-10-2010-->
    <add key="ExceptionHandlingRelativeFilePath" value="\Configuration\ExceptionHandling.xml" />
    <!-- Logger config values-->
    <!-- the default interval to show tests-->
    <add key="LogTableName" value="Log" />
    <add key="LogActionParamsTableName" value="LogActionParams" />
    <!-- Interval between collected messages writing to the log ,10000 is 10 seconds -->
    <add key="AsyncLogActionTimerInSeconds" value="10000" />
    <!-- SqlBulkCopy  Batch Size-->
    <add key="BatchSize" value="500" />
    <!-- logging trace level 0 writes only undefined request,-1 writes everything, 1- DetailedTraceUI,2- WebServiceTrace, 3 -DetailedTraceBL-->
    <add key="LogTraceLevel" value="100" />
    <!--7 means sefer sherut-->
    <add key="LogApplicationActionId" value="7" />
    <!--test server-->
    <!--<add key="MapClientServerURL" value="http://mkweb022/mapguide/clalit/index.aspx"/>-->
    <!--will be the prod server-->
    <!--<add key="MapClientServerURL" value="http://mkweb186/mapserver2012/clalit/index.aspx" />-->
    <add key="MapClientServerURL" value="http://mkwebp004/mapserver2012/clalit/index.aspx" />
    <add key="waitingTimeBeforeKillingSessionInMinutes" value="120" />
    <add key="MapClientUsername" value="Administrator" />
    <add key="MapClientPassword" value="admin" />
    <add key="LoadBalancerInformationRelativeFilePath" value="\Configuration\LoadBalancerInformation.xml" />
    <add key="formsAndBrochuresPath" value="\\\\clalit\\dfs$\\IntraDev\\SeferNet\\FormsAndBrochures" />
    <add key="MaxRecordsNumberToPrint" value="150" />
    <add key="AdToolsWS_URL" value="https://wsadmin.clalit.org.il/WSADTools/WSADTools.asmx" />
    <!--<add key="RSWS.ReportExecutionService.ReportExecution2005" value="http://vladimirgr/ReportServer_MSSQLSERVER2008R/ReportExecution2005.asmx"/>-->
    <add key="RequestingApplication" value="645" />
    <add key="ServingApplication" value="701" /> 
    <add key="RequestingSite" value="14" /> 
    <add key="ServingSite" value="71" /> 
    <add key="Is_HTTPS_enabled" value="0" /> 
    <add key="RemarkCategoriesForAbsence" value="5,4" />
    <add key="RemarkCategoriesForClinicActivity" value="4,5" />
    <add key="RestrictedFoldersForNotLoggedUsers" value="Admin/,Reports/,UpdateTables/" />    
  </appSettings>
  <connectionStrings>
    <add name="SeferNetConnectionStringNew" connectionString="Data Source=SWTMKCONS-SQL01\INSTANCE01;Trusted_Connection=yes;Initial Catalog=SeferNet;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--Entity framework connection string we must have it!!! for entities SPECIFIC TO SeferNet-->
    <add name="SeferNetEntities" connectionString="metadata=res://*/SeferNetEntitiesModel.csdl|res://*/SeferNetEntitiesModel.ssdl|res://*/SeferNetEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mksql025\instance01;Initial Catalog=SeferNet;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--Entity framework connection string we must have it!!! for GLOBAL ENTITIES,
    can be used in other application like Confirmations-->
    <add name="ClalitEntities" connectionString="metadata=res://*/ClalitEntitiesModel.csdl|res://*/ClalitEntitiesModel.ssdl|res://*/ClalitEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mksqlt117\instance03;Initial Catalog=ConfirmationsQA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!-- Logger config connection string-->
    <remove name="LogConnectionString" />
    <add name="LogConnectionString" connectionString="Server=mksql025\instance01;Database=SeferNet;Trusted_Connection=True;" />
  </connectionStrings>
  <applicationSettings>
    <SeferNet.UI.Apps.Properties.Settings>
      <setting name="SeferNet_UI_Apps_RSWS_ReportExecutionService" serializeAs="String">
        <value>http://MKSQL044:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </SeferNet.UI.Apps.Properties.Settings>
    <SeferNet.BusinessLayer.Properties.Settings>
      <setting name="BusinessLayer_doctorServices_DoctorService" serializeAs="String">
        <value>http://localhost/SeferServices/DoctorService.asmx</value>
      </setting>
      <setting name="BusinessLayer_ADClalit_Service1" serializeAs="String">
        <value>https://webapps.clalit.org.il/ADservice/ADservice.asmx</value>
      </setting>
    </SeferNet.BusinessLayer.Properties.Settings>
  </applicationSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="60" />
    <identity impersonate="true" />
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <globalization culture="he-IL" uiCulture="he-IL" requestEncoding="windows-1255" responseEncoding="windows-1255" fileEncoding="windows-1255" />
    <httpRuntime targetFramework="4.5.1" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5.1">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />-->
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--<authentication mode="Forms">
      <forms name=".SeferNet" protection="All" loginUrl="~/SearchClinics.aspx" timeout="60" slidingExpiration="true" />
    </authentication>-->
    <authentication mode="Windows" />    
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
    <httpModules>
      <add name="MyMasterPageModule" type="MasterPageModule" />
    </httpModules>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" theme="SeferGeneral" buffer="true" />
    <httpCookies httpOnlyCookies="true"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <httpProtocol>
      <customHeaders>

      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="OPTIONS" allowed="false" />
          <add verb="TRACE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>    
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="https://sonline.clalit.org.il:4433/Clalit.InterfaceForSAP/GetEmployeeDetailsByID.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IGetEmployeeDetailsByID"
        contract="GetEmployeeDetailes.IGetEmployeeDetailsByID" name="BasicHttpsBinding_IGetEmployeeDetailsByID" />
      <endpoint address="http://customerident.clalit.org.il/BakaratKnisot.WebServices/CentralLogRegularService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralLogService"
        contract="CentralLogRegularService.ICentralLogService" name="BasicHttpBinding_ICentralLogService" />
      <endpoint address="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/HandshakeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHandshakeService"
        contract="BakaratKnisotService.IHandshakeService" name="BasicHttpBinding_IHandshakeService" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="returnFaults" name="WCFCacheService">
        <endpoint
     binding="basicHttpBinding"
     bindingConfiguration="bindingIntegrated"
     contract="Clalit.Infrastructure.WCFInterfaces.IWCFCacheService">
        </endpoint>
      </service>
    </services>
    
    <bindings>
      <basicHttpBinding>
        <binding name="bindingIntegrated">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows">
              <extendedProtectionPolicy policyEnforcement="WhenSupported" />
            </transport>
          </security>
        </binding>
        <binding name="BasicHttpsBinding_IGetEmployeeDetailsByID">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICentralLogService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IHandshakeService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>    
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="returnFaults">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>

        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>