<table cellpadding="0" cellspacing="0" style="width:100%;direction:rtl;font-family:Arial;">
    <tr>
        <td style="width:141px">
            <img src="cid:mushlamLogo" alt="כללית מושלם" />
        </td>
        <td style="text-align:center;font-size:11px;">
            כללית מושלם מוקד שרות 2700*
            <br />
            שעות פעילות: א` - ה` 07:00 - 20:00, ו` וערבי חג 07:00 עד 13:00
            <br />
            <a href="https://mushlam.clalit.co.il/Pages/homepage.aspx">https://mushlam.clalit.co.il</a>
        </td>
        <td style="width:132px;">
            <img src="cid:LogoClalit" alt="כללית מושלם" />
        </td>
    </tr>
    <tr>
        <td colspan="3" style="height:40px;"></td>
    </tr>
    <tr>
        <td colspan="3">
            <b>#clientName# היקר/ה</b>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="height:20px;"></td>
    </tr>
    <tr>
        <td style="line-height:15px;" colspan="3">
            #body#
        </td>
    </tr>
    <tr>
        <td colspan="3" style="height:20px;"></td>
    </tr>
    <tr>
        <td colspan="3">
            בברכת בריאות טובה,
            <br />
            כללית מושלם
        </td>
    </tr>
</table>
