<?xml version="1.0"?>
<configuration>
    
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SeferNet.BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SeferNet.BusinessLayer.Properties.Settings.SeferNetConnectionString" connectionString="Data Source=mksql025\instance01;Initial Catalog=SeferNetQA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <SeferNet.BusinessLayer.Properties.Settings>
            <setting name="BusinessLayer_doctorsSrv_DoctorService" serializeAs="String">
                <value>http://localhost/SeferServices/DoctorService.asmx</value>
            </setting>
            <setting name="BusinessLayer_ADClalit_Service1" serializeAs="String">
                <value>https://wsadmin.clalit.org.il/ADservice/ADservice.asmx</value>
            </setting>
            <setting name="BusinessLayer_demography_ClalitCustomersForSuppliers" serializeAs="String">
                <value>http://online.clalit.org.il/ClalitCustomersForSuppliers/ClalitCustomersForSuppliers.asmx</value>
            </setting>
            <setting name="BusinessLayer_ClalitOnlineWS_ClalitOnLine" serializeAs="String">
                <value>http://online.clalit.org.il:8199/Clalit.ClalitCustomers/ClalitOnLine.asmx</value>
            </setting>
            <setting name="BusinessLayer_WSSendMessages_WSFaxSender" serializeAs="String">
                <value>http://mkweb111/WSSendFaxes/WSSendFax.asmx</value>
            </setting>
            <setting name="BusinessLayer_il_org_clalit_onlinedemog_ClalitCustomersService" serializeAs="String">
                <value>http://onlinedemog.clalit.org.il:8199/Clalit.ClalitCustomers/ClalitCustomersService.asmx</value>
            </setting>
        </SeferNet.BusinessLayer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
